<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="JImboEH.CompilationUnitContribution"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <menu
               id="JImboEH.menu1"
               label="JImboEH"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
          <action
               class="br.inf.pucrio.jimboeh.popup.actions.SearchAction"
               id="JImboEH.SearchAction"
               label="Search"
               menubarPath="JImboEH.menu1/group1">
         </action>
      </viewerContribution>
   </extension>
</plugin>
