<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="JImboEH.CompilationUnitContribution"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <menu
               icon="icons/jimboeh.png"
               id="JImboEH.menu1"
               label="JImboEH"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
          <action
                class="br.inf.pucrio.jimboeh.actions.SearchAction"
                icon="icons/search.png"
                id="JImboEH.SearchAction"
                label="Search"
                menubarPath="JImboEH.menu1/group1">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="JImboEH"
            name="JImboEH">
      </category>
      <view
            category="JImboEH"
            class="br.inf.pucrio.jimboeh.views.SearchResultView"
            icon="icons/result.png"
            id="jimboeh.views.SearchResultView"
            name="Result">
      </view>
      <view
            category="JImboEH"
            class="br.inf.pucrio.jimboeh.views.CodeSnippetView"
            icon="icons/code.gif"
            id="jimboeh.views.DetailedResultView"
            name="Code Snippet"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="jimboeh.views.SearchResultView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="JImboEH.IMethod"
            objectClass="org.eclipse.jdt.core.IMethod">
         <menu
               icon="icons/jimboeh.png"
               id="JImboEH.insertMethodMenu"
               label="JImboEH">
         </menu>
         <action
               class="br.inf.pucrio.jimboeh.actions.InsertAction"
               id="JImboEH.insertMethodAction"
               label="Insert method in database"
               menubarPath="JImboEH.insertMethodMenu/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="JImboEH.IProjectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               icon="icons/jimboeh.png"
               id="JImboEH.InsertProjectMenu"
               label="JImboEH">
         </menu>
         <action
               class="br.inf.pucrio.jimboeh.actions.InsertAction"
               id="JImboEH.insertProjectAction"
               label="Insert project in database"
               menubarPath="JImboEH.InsertProjectMenu/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="JImboEH.ICompilationUnitContribution"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <menu
               icon="icons/jimboeh.png"
               id="JImboEH.InsertClassMenu"
               label="JImboEH">
         </menu>
         <action
               class="br.inf.pucrio.jimboeh.actions.InsertAction"
               id="JImboEH.InsertClassAction"
               label="Insert class in database"
               menubarPath="JImboEH.InsertClassMenu/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="br.inf.pucrio.jimboeh.preferences.JImboEHPreferencePage"
            id="br.inf.pucrio.jimboeh.preferences.JImboEHPreferencePage"
            name="JImboEH">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="br.inf.pucrio.jimboeh.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
