<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="JImboEH.CompilationUnitContribution"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <menu
               id="JImboEH.menu1"
               label="JImboEH"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
          <action
               class="br.inf.pucrio.jimboeh.actions.SearchAction"
               id="JImboEH.SearchAction"
               label="Search"
               menubarPath="JImboEH.menu1/group1">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="JImboEH"
            name="JImboEH">
      </category>
      <view
            category="JImboEH"
            class="br.inf.pucrio.jimboeh.views.SearchResultView"
            icon="icons/sample.gif"
            id="jimboeh.views.SearchResultView"
            name="Recommendations View">
      </view>
      <view
            category="JImboEH"
            class="br.inf.pucrio.jimboeh.views.DetailedResultView"
            icon="icons/sample.gif"
            id="jimboeh.views.DetailedResultView"
            name="Detailed Result"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="jimboeh.views.SearchResultView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
